@import url("style/header.css");
@import url("style/banner.css");
@import url("style/carrossel.css");
@import url("style/topicos.css");
@import url("style/cadastro.css");
@import url("style/rodape.css");

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --amarelo: #EB9B00;
    --azul: #002F52;
     --azulclaro: #326589;
     --azuldegrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
     --preto: #000000;
     --cinza: #474646;
     --cinzatitulo: #858585;








}

body {
    background-color: var(--cor-de-fundo);
}

.espaço__branco {
    background-color: var(--branco);
}


.branco {
    padding: 0.2em;
    color: var(--branco);
}



