.banner {
    background: var(--azuldegrade);
    font-family: 'Poppins';
    color: var(--branco);
    text-align: center;
    font-size: 16px;
    padding: 2.5rem 2rem;
    
}

.banner__titulo {
    font-size: 18px;
    font-weight: 700;
}

.banner__texto {
    font-weight: 500;
    margin: 1rem 0;
    
}

.banner__pesquisa {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 24px;
  color: var(--branco);
  padding: 1rem;
  width: 100%;

}

.banner__pesquisa::placeholder {
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
color: var(--branco);
background: url("../img/lupa.svg") no-repeat;
background-position: 1em;
padding: 50px;

}

@media screen and (min-width: 1024px) {

    .banner {
    height: 350px;
    
    }
    .banner__titulo {
        font-size: 36px; 
        padding-top: 3em;
    }

    .banner__pesquisa {
        width: 50%;
    }
    .banner__pesquisa::placeholder {
        text-align: center;
        background-position: 5rem;
    } 
}

@media screen and (min-width: 1728px) {
    .banner__pesquisa {
        width: 35%;
    }

    .banner__pesquisa::placeholder {
        background-position: 10em;
    }

    .banner {
        padding: 5em 0;
    }
}


    