.topicos {
    display: flex;
    background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    flex-direction: column;
    padding: 0.8em 0;
}

.topicos__titulo {
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 16px;
text-align: center;
color: #F9F9F9;
margin: 1em;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.topico__link {
    color: var(--branco);
    background-color: var(--amarelo);
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
text-decoration: none;
padding: 1em;
}

.topico__item {
    margin: 1.5em 0.8em;
    padding: 1em 0;
}

@media screen and (min-width: 1024px) {
    

    .topicos__titulo {
        font-size: 24px;
        font-weight: 300;
    }
   .topicos__lista {
    margin: 1em 15em 0 15em;
    display: flex;
    gap: 16px;
    text-align: justify;

    }

   .topico__link {
    font-size: 24px;
       }

   } 

   @media screen and (min-width: 1728px) {
    .topicos {
        padding: 5em 10vw;
    }
   }

